@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome and an edit from VS</h1>
    <h2>cd working but dll not getting in place</h2>
    <h3>getting application error from iamscottapp ... hmmm</h3>
    <h3>still not working ... I think</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
