@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome and an edit from VS</h1>
    <h2>should be loaded using ci-cd ... I hope</h2>
    <h3>added this line because CD didn't auto deploy last time</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
